.button {
  border: none;
  cursor: pointer;
  border-radius: 8px;

  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease, border-radius 0.3s ease, width 0.3s ease,
    height 0.3s ease, font-size 0.3s ease;

  &.large {
    width: 191px;
    height: 48px;
    font: $fontP4;
  }
  &.medium {
    width: 183px;
    height: 40px;
    font: $fontP8;
  }
  &.small {
    width: 141px;
    height: 32px;
    font: $fontP8;
  }
  &.xs {
    width: 100px;
    height: 24px;
    font: $fontP10;
  }
  &.mini {
    &.large {
      width: 48px;
      height: 48px;
      font: $fontP5;
    }
    &.medium {
      width: 40px;
      height: 40px;
      font: $fontP6;
    }

    &.small {
      width: 32px;
      height: 32px;
      font: $fontP7;
    }

    &.xs {
      width: 24px;
      height: 24px;
      font: $fontP8;
    }
  }

  &.radius {
    border-radius: 64px;
    -webkit-border-radius: 64px;
    -moz-border-radius: 64px;
    -ms-border-radius: 64px;
    -o-border-radius: 64px;
  }

  &.default {
    background-color: $bgAccent;
    color: $white;
  }

  &.primary {
    background-color: $bgAccent;
    color: $white;
    &:hover {
      background-color: $bgAccentHover;
    }

    &:active {
      background-color: $bgAccentActive;
    }
  }
  &.secondary {
    background-color: $bgAccentSubdued;
    color: $textAccent;
    &:hover {
      background-color: $bgAccentSubduedHover;
    }

    &:active {
      background-color: $bgAccentSubduedActive;
    }
  }
  &.clear {
    background-color: $bgPrimary;
    color: $bgAccentHover;
    &:disabled {
      background-color: $bgPrimary;
      color: $textDisabled;
    }
    &:focus {
      background-color: $bgAccentSubdued;
      color: $bgAccentActive;
    }
  }
  &.critical {
    background-color: $bgCritical;
    color: $white;
    &:hover {
      background-color: $bgCriticalHover;
      color: $white;
    }

    &:active {
      background-color: $bgCriticalActive;
      color: $white;
    }
  }
  &.critical-secondary {
    background-color: $bgCriticalSubdued;
    color: $textCritical;
    &:hover {
      background-color: $bgCriticalSubduedHover;
      color: $textCriticalHover;
    }
    &:active {
      background-color: $bgCriticalSubduedActive;
      color: $textCriticalActive;
    }
  }
  &.disabled {
    cursor: not-allowed;
    background-color: $bgDisabled;
    color: $textDisabled;
  }
}
