.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid $borderPrimary;
  border-radius: $borderRadiusMedium;
  width: 540px; 
}

.input {
  padding-left: 30px;
  border: none;
  outline: none;
  flex-grow: 1; 
}

.icon {
  position: absolute;
  left: 10px; 
  color: $iconPrimary;
}

.clearIcon {
  position: absolute;
  right: 10px; 
  cursor: pointer;
  background: none; 
  border: none; 
  color: $iconPrimary;
}

.error {
  border-color: $borderCritical;
}

.errorMessage {
  color: $textCritical;
  font-size: $fontP7;
}
