.inputContainer {
 display: flex;
  min-width: 340px;
  position: relative;
  transition: all 0.3s ease-in-out;

  .label {
    display: block;
    margin-bottom: 0.5rem;
    color: $textSecondary;

    font: $fontP4;
  }

  .input {
    padding-left: 30px;
    border: 1px solid $borderSecondary;
    color: $textPrimary;
    min-width: 340px;

    border-radius: $borderRadiusLarge;
    font: $fontP4;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.rounded {
      border-radius: $borderRadiusBig;
    }

    &:focus {
      border-color: $borderAccent;
      outline: none;
    }

    &:disabled {
      background-color: $bgDisabled;
      color: $textDisabled;
      cursor: not-allowed;
      border: none;

      &.icon {
        color: $iconDisabled;
      }

      .clearIcon {
        color: $iconDisabled;
      }
    }

    &:active {
      border-color: $borderAccent;
    }

    &:hover {
      background-color: $bgSecondary;
      border: none;
      color: $textPrimary;
    }

    

    &.default {
      background-color: $bgAccent;
      color: $white;
    }
  }

  &.small {
    font: $fontP7;
    height: 32px;
  }

  &.medium {
    font: $fontP5;
    height: 40px;
  }

  &.large {
    font: $fontP3;
    height: 48px;
  }
  .error {
    border-color: $borderCritical;
    color: $textCritical;
  }
  .errorMessage {
    color: $textCritical;
    font-size: $fontP7;
  }

  .icon {
    position: absolute;
    padding: 10px;
    width: 12px;
    height: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: $iconPrimary;

    &:disabled {
      color: $iconDisabled;
    }
  }
  .clearIcon {
    position: absolute;
    background-color: transparent;
    border: none;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: $iconSecondary;

    &:disabled {
      color: $iconDisabled;
    }
  }
}
