
.sidebar {
    grid-template-areas: s;
    width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 
    background-color: $white;
    padding: 20px;
  
   
  
    border-radius:$borderRadiusLarge ;
    -webkit-border-radius:$borderRadiusLarge ;
    -moz-border-radius:$borderRadiusLarge ;
    -ms-border-radius:$borderRadiusLarge ;
    -o-border-radius:$borderRadiusLarge ;
}
