.page {
  margin-top: 0 auto;
display: grid;
background-color: $bgSecondary;
flex-direction: column;
display: grid;
grid-template-areas: 
"h h"
"s .";

  grid-template-rows:  260px 1fr;
  grid-template-columns: 2fr 10fr;
row-gap: 12px;
column-gap: 12px;
gap:20px;}
/*.page {
    --gray-rgb: 0, 0, 0;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  
    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;
  
    display: grid;
    grid-template-rows: 20px 1fr 20px;
    align-items: center;
    justify-items: center;
    min-height: 100svh;
 
 
  }
  */
  